<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.trg.zipzap" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ZipZap</name>
    <description>Cordova ZipZap Plugin (based on zip4j)</description>

    <js-module name="ZipZap" src="www/ZipZap.js">
        <clobbers target="window.ZipZap" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ZipZap">
                <param name="android-package" value="org.trg.zipzap.ZipZap" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <lib-file src="src/android/zip4j_2.7.0.jar" target-dir="libs" />
        <source-file src="src/android/ZipZap.java" target-dir="src/org/trg/zipzap/ZipZap" />
    </platform>
</plugin>